*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 10px;
}

body {
  box-sizing: border-box;
  font-size: 62.5%;
}

.container.home-layout {
  display: grid;
  grid-template-rows: repeat(3, min-content);
  grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(10, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
}
@media only screen and (max-width: 75em) {
  .container.home-layout {
    grid-template-rows: 20vh 100vh min-content repeat(2, 63vw) repeat(9, min-content);
    grid-template-columns: repeat(auto-fit, minmax(1fr));
  }
}
@media only screen and (max-width: 68.75em) {
  .container.home-layout {
    grid-template-rows: 20vh 100vh min-content repeat(2, 55vw) repeat(9, min-content);
    grid-template-columns: repeat(auto-fit, minmax(1fr));
  }
}
@media only screen and (max-width: 56.25em) {
  .container.home-layout {
    grid-template-rows: 20vh 100vh min-content 330vw min-content repeat(9, min-content);
    grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
  }
}
@media only screen and (max-width: 37.05em) {
  .container.home-layout {
    grid-template-rows: 20vh 100vh min-content 300vw min-content repeat(9, min-content);
    grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
  }
}
@media only screen and (max-width: 31.25em) {
  .container.home-layout {
    grid-template-rows: 20vh 120vh min-content 300vw min-content repeat(9, min-content);
    grid-template-columns: repeat(auto-fit, minmax(0vw, 1fr));
  }
}
@media only screen and (max-width: 25em) {
  .container.home-layout {
    grid-template-rows: repeat(3, min-content);
    grid-template-columns: repeat(auto-fit, minmax(0vw, 1fr));
  }
}

.u-center-text {
  text-align: center !important;
}

.u-margin-buttom-small {
  margin-bottom: 1.5rem;
}

.u-margin-buttom-medium {
  margin-bottom: 4rem;
}

.u-margin-buttom-big {
  margin-bottom: 8rem;
}

.u-margin-top-medium {
  margin-top: 8rem;
}

.u-margin-top-small {
  margin-top: 4rem;
}

.mb-sm {
  margin-bottom: 2rem;
}

.mb-md {
  margin-bottom: 3rem;
}

.mb-lg {
  margin-bottom: 4rem;
}

.mb-hg {
  margin-bottom: 8rem;
}

.mt-sm {
  margin-top: 2rem;
}

.mt-md {
  margin-top: 3rem;
}

.mt-lg {
  margin-top: 4rem;
}

.mt-hg {
  margin-top: 8rem;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #11009E;
}

.primary-heading {
  color: #ffffff;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 5rem;
}
.primary-heading--main {
  display: block;
  font-size: 4.5rem;
  font-weight: 500;
  letter-spacing: 0.5rem;
  animation: moveInLeft 2s;
}
.primary-heading--sub {
  display: block;
  font-size: 2rem;
  font-weight: 700;
  color: #8AB800;
  letter-spacing: 1.5rem;
  animation: moveInRight 2s ease-in;
}

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  color: #8AB800;
  background-image: linear-gradient(to right, #9ACD32, #8AB800);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 0.2rem;
  transition: all 0.2s;
}
.heading-secondary:hover {
  transform: skewY(2deg) skewX(15deg) scale(1.1);
  text-shadow: 0.5rem 1rem 1.5rem rgba(20, 24, 9, 0.2);
}

.heading-tertiary {
  font-size: 2rem;
  text-transform: uppercase;
  color: rgba(20, 24, 9, 0.7019607843);
}

.paragraph {
  font-size: 1.7rem;
  color: rgba(20, 24, 9, 0.7019607843);
}
.paragraph:not(:last-child) {
  margin-bottom: 2rem;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  80% {
    transform: translateX(10%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  80% {
    transform: translateX(-10%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 5rem;
  transition: all 0.2s;
  position: relative;
  font-size: 1.6rem;
  backface-visibility: hidden;
}
.btn:hover {
  transform: translateY(-1rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}
.btn:active {
  transform: translateY(-1);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}
.btn--white {
  background-color: #ffffff;
  color: #8AB800;
}
.btn--white::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}
.btn--white::after {
  background-color: #ffffff;
}
.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}
.btn--animated {
  animation: moveInBottom 0.5s ease-out 0.75 2s;
  animation-fill-mode: backwards;
}

.btn-text:link, .btn-text:visited {
  font-size: 1.7rem;
  color: #11009E;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #11009E;
  padding: 3px;
  transition: all 0.2s;
}
.btn-text:hover {
  background-color: #11009E;
  color: #ffffff;
  box-shadow: 0 1rem 2rem rgba(20, 24, 9, 0.15);
  transform: translateY(-2px);
}
.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(20, 24, 9, 0.15);
  transform: translateY(0);
}

.composition {
  position: relative;
}
.composition__photo {
  width: 55%;
  box-shadow: 0 1.5rem 4rem rgba(20, 24, 9, 0.4);
  border-radius: 2px;
  position: absolute;
  z-index: 10;
  transition: all 0.2s;
  outline-offset: 2rem;
}
.composition__photo--p1 {
  left: 0;
  top: -2rem;
}
.composition__photo--p2 {
  right: 0;
  top: 2rem;
}
.composition__photo--p3 {
  left: 20%;
  top: 10rem;
}
.composition__photo:hover {
  outline: 1.5rem solid #11009E;
  transform: scale(1.05) translateY(-0.5rem);
  box-shadow: 0 2.5rem 4rem rgba(20, 24, 9, 0.5);
  z-index: 20;
}
.composition:hover .composition__photo:not(:hover) {
  transform: scale(0.95);
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.11;
}

.bg-video__content {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
@media only screen and (max-width: 25em) {
  .bg-video__content {
    object-fit: fill;
    object-position: 50%;
  }
}

.header {
  grid-column: full-start/full-end;
  height: 110vh;
  width: auto;
  background-image: linear-gradient(#11009e, #141809);
  clip-path: polygon(0 0, 100% 0%, 100% 70%, 0% 100%);
  position: relative;
}
@media only screen and (max-width: 25em) {
  .header {
    clip-path: polygon(0 0, 100% 0%, 100% 90%, 0% 100%);
    height: 70vh;
  }
}
.header__logo-box {
  position: absolute;
  top: 6rem;
  left: 6rem;
}
.header__logo {
  height: 5rem;
}
.header__text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
@media only screen and (max-width: 25em) {
  .header__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
}

.header-social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  position: absolute;
  top: 5.1rem;
  right: 23rem;
}

.social-icon-svg {
  width: 4rem;
  height: 4rem;
  fill: #8AB800;
  border: solid 0.2rem #8AB800;
  border-radius: 50%;
  padding: 1rem;
  transition: all 0.3s;
}
.social-icon-svg:hover {
  fill: rgba(20, 24, 9, 0.7019607843);
  width: 5rem;
  height: 5rem;
  border: solid 0.2rem rgba(20, 24, 9, 0.7019607843);
}

.telephone {
  display: flex;
  align-items: center;
  gap: 2rem;
  position: absolute;
  top: 5.1rem;
  right: 100rem;
}
.telephone__number {
  font-size: 2rem;
  font-weight: 500;
  color: #F2F1EB;
}

.email {
  display: flex;
  align-items: center;
  gap: 2rem;
  position: absolute;
  top: 5.1rem;
  right: 60rem;
}
.email__number {
  font-size: 2rem;
  font-weight: 500;
  color: #F2F1EB;
}

hr {
  width: 50%;
  color: #fff;
}

.navigation {
  position: sticky; /* Makes the element sticky */
  top: 0; /* Distance from the top of the viewport */
  z-index: 1000; /* Ensures it stays above other elements */
  background-color: #fff; /* Set background to avoid transparency issues */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Optional: Add a shadow for better visibility */
}
.navigation__checkbox {
  display: none;
}
.navigation__button {
  background-color: #8AB800;
  height: 7rem;
  width: 7rem;
  position: fixed;
  top: 6rem;
  right: 6rem;
  border-radius: 50%;
  z-index: 2000;
  box-shadow: 0 1rem 3rem rgba(20, 24, 9, 0.1);
  text-align: center;
  cursor: pointer;
}
.navigation__background {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  position: fixed;
  top: 6.5rem;
  right: 6.5rem;
  background-image: radial-gradient(#4942E4, #11009E);
  z-index: 1000;
  transition: transform 0.8s cubic-bezier(0.68, -0.6, 0.32, 1.6);
}
.navigation__nav {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1500;
  opacity: 0;
  width: 0;
  transition: all 0.8s cubic-bezier(0.83, 0, 0.17, 1);
}
.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  width: 100%;
}
.navigation__item {
  margin: 1rem;
}
.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  font-size: 3rem;
  font-weight: 300;
  padding: 1rem 2rem;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #ffffff 50%);
  background-size: 220%;
  transition: all 0.4s;
}
.navigation__link:link span, .navigation__link:visited span {
  margin-right: 1.8rem;
  display: inline-block;
}
.navigation__link:hover, .navigation__link:active {
  background-position: 100%;
  color: #11009E;
  transform: translate(1rem);
}
.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(80);
}
.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  width: 100%;
}
.navigation__icon {
  position: relative;
  margin-top: 3.5rem;
}
.navigation__icon, .navigation__icon::before, .navigation__icon::after {
  width: 3rem;
  height: 2px;
  background-color: #11009E;
  display: inline-block;
}
.navigation__icon::before, .navigation__icon::after {
  content: "";
  position: absolute;
  left: 0;
  transition: all 0.5s;
}
.navigation__icon::before {
  top: -0.8rem;
}
.navigation__icon::after {
  top: 0.8rem;
}
.navigation__button:hover .navigation__icon::before {
  top: -1rem;
}
.navigation__button:hover .navigation__icon::after {
  top: 1rem;
}
.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent;
}
.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  transform: rotate(135deg);
}
.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(-135deg);
}

.section-about {
  grid-column: full-start/full-end;
  background-color: #F2F1EB;
  padding: 25rem 0;
  margin-top: -35vh;
}
@media only screen and (max-width: 25em) {
  .section-about {
    padding: 10rem 0;
    margin-top: -10vh;
  }
}

.home-about {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5rem;
  justify-content: center;
  padding: 0 3rem;
  margin-top: 10rem;
  margin-bottom: 10rem;
  animation: fadeIn 2s;
}
@media only screen and (max-width: 25em) {
  .home-about {
    grid-template-columns: repeat(1, 1fr);
    margin-top: 10rem;
    margin-bottom: 0rem;
  }
}

.section-services {
  grid-column: col-start 2/col-start 10;
  display: grid;
}

.services {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5rem;
  align-content: center;
}

.service {
  display: grid;
  grid-template-columns: min-content 1fr;
  column-gap: 2rem;
  row-gap: 2rem;
}
.service__icon {
  width: 5rem;
  height: 5rem;
  grid-row: 1/span 2;
  transform: translateY(-1rem);
}

/*# sourceMappingURL=style.css.map */
