$color-primary-blue: #11009E;
$color-primary-blue-light:#4942E4;
$color-primary-black: #141809b3;
$color-primary-yellowgreen-light:#9ACD32 ;
$color-primary-yellowgreen:#8AB800 ;

$color-secondary-grey:#F2F1EB ;
$color-secondary-grey-deep:#EEE7DA ;



$color-white:#ffffff;



//FONT VARIABLE
$default-font-size : 1.7rem;
$font-display:"Poppins", sans-serif;
$font-primary:"Lato", serif;


//FONT

$default-font-size: 2rem;
$default-font-size2:1.5rem;
$default-font-size3:1.2rem;

$heading-primary-font-main:3rem;

$heading-secondary-font: 2.5rem;

$heading-tertiary-font:2rem;







