$color-primary-blue: #11009E;
$color-primary-blue-light:#4942E4;
$color-primary-black: #141809b3;
$color-primary-yellowgreen-light:#9ACD32 ;
$color-primary-yellowgreen:#8AB800 ;

$color-secondary-grey:#F2F1EB ;
$color-secondary-grey-deep:#EEE7DA ;



$color-white:#ffffff;



//FONT 
$default-font-size : 1.7rem;






