.portfolio {
    grid-column: full-start / full-end;


    background-color: $color-primary-yellowgreen;
    margin-top: 0.2rem;
    padding: 25px;
    text-align: center;
   
  
    &__header {
      text-align: center;
      color: $color-primary-blue;
      margin-top: 5rem;
      align-content: center;
      filter: brightness(50%);
  
  
    }
  
  
  }
  
.portfolio-inner {
    grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));

   

    display: grid;
    column-gap: 10rem;
    background-color: $color-white;
    height: 50rem;

   
   
    
  
  
    &__item {
        height: 30rem;
        background-color: $color-white;
        box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.15);
        
       
        border-radius: 1rem;
        padding-bottom: 2rem
    }
  
    &__header {
        font-size: $heading-tertiary-font;
        font-weight: 700;
        color: $color-primary-blue-light;
        text-align: center;
        margin-top: 1rem;
       
  
  
  
        &::hover {
            color: $color-white;
        }
  
  
        @media only screen and (max-width:$bp-smaller) {
  
          font-size: $default-font-size2;
          font-weight: 400;
          color: $color-primary-blue-light;
          text-align: center;
          margin-top: 1rem;
  
         
               
        }
  
    }
  
  
    &__text {
        font-size: $default-font-size;
        padding: 0 2rem;
    }
  
  
    &__borderes {
        display: flex;
        justify-self: center;
        align-items: center;

        
        font-size: $default-font-size2;
        font-family: "Oxygen" sans-serif;
        font-weight: 800;
        text-align: center;
        background-color: $color-white;
        border: .1rem $color-primary-blue-light solid;
        border-radius: 3rem;
    
        width: 17rem;
        height: 4.5rem;
        padding: 1rem 6rem;
  
  
        &:hover {
            background-color: $color-primary-blue;
            transition: all .3s;
        }
  
  
        @media only screen and (max-width:$bp-medium) {
  
          font-size: $default-font-size3;
          font-family: "Oxygen" sans-serif;
          font-weight: 800;
          text-align: center;
          background-color: $color-white;
          border: .1rem $color-primary-blue-light solid;
          border-radius: 3rem;
          width: 17rem;
          height: 4.5rem;
          padding: 1rem 6rem;
               
               
        }

        @media only screen and (max-width:$bp-small) {
  
          font-size: $default-font-size3;
          font-family: "Oxygen" sans-serif;
          font-weight: 800;
          text-align: center;
          background-color: $color-white;
          border: .1rem $color-primary-blue-light solid;
          border-radius: 3rem;
          width: 17rem;
          height: 4.5rem;
          padding: 1rem 6rem;
               
               
        }
       
  
        @media only screen and (max-width:$bp-smaller) {
  
        font-size: $default-font-size3;
        font-family: "Oxygen" sans-serif;
        font-weight: 800;
        text-align: center;
        background-color: $color-white;
        border: .1rem $color-primary-blue-light solid;
        border-radius: 3rem;
        width: 17rem;
        height: 4.5rem;
        padding: 1rem 6rem;
             
             
      }
  
      @media only screen and (max-width:$bp-smallest) {
  
        font-size: $default-font-size3;
        font-family: "Oxygen" sans-serif;
        font-weight: 800;
        text-align: center;
        background-color: $color-white;
        border: .1rem $color-primary-blue-light solid;
        border-radius: 3rem;
        width: 17rem;
        height: 4.5rem;
        padding: 1rem 6rem;
             
      }
       
       
  
    }
  
    &__img {
      height: 20rem;
    }
  
  
    &__borderes a {
       
        text-decoration: none;
        color: $color-primary-blue;
        
  
  
        &:hover {
            color: $color-white;
        }
  
  
       
       
  
    }
  }
  
  
   .owl-theme .owl-nav {
    margin: 5rem 0;
  }
  
   .owl-theme .owl-nav [class*="owl-"] {
    background: transparent;
    border: medium none;
    border-radius: 3px;
    color: $color-white;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    height: 50px;
    margin: 8px;
    padding: 0;
  }
  
   .owl-theme .owl-nav svg {
    background: $color-white repeat scroll 0 0;
    border: 1px solid $color-primary-yellowgreen;
    border-radius: 5px;
    font-size: 25px;
    height: 6rem;
    width: 6rem;
    fill: $color-primary-yellowgreen;
    overflow: hidden;
    padding: 10px 15px;
   
  }
  
   .owl-theme .owl-nav svg:hover {
    background: $color-primary-yellowgreen;
    fill: #fff;
  }
  

