.composition {
    position: relative;

    
    @media only screen and (max-width:$bp-smaller) {
        // left: 5rem;
         
    }

    @media only screen and (max-width:$bp-smallest) {
        left: 5rem;
         
    }
   

    &__photo {
        width: 55%;
        box-shadow: 0 1.5rem 4rem rgba($color-primary-black, .4);
        border-radius: 2px;
        position: absolute;
        z-index: 10;
        transition: all .2s;
        outline-offset: 2rem;

        @media only screen and (max-width:$bp-smaller) {
            width: 50%;
             
        }

        @media only screen and (max-width:$bp-smallest) {
            width: 38%;
             
        }

        &--p1 {
            left: 0;
            top: -2rem;

            // @media only screen and (max-width:$bp-smaller) {
            //     left: 0;
            //     top: 2rem;
            // }

            @media only screen and (max-width:$bp-smallest) {
                left: 0;
                top: 2rem;
            }
        }

        &--p2 {
            right: 0;
            top: 2rem;

            // @media only screen and (max-width:$bp-smaller) {
            //     right: 12rem;
            //     top: 2rem;
            // }
            

            @media only screen and (max-width:$bp-smallest) {
                right: 12rem;
                top: 2rem;
            }

            
        }

        &--p3 {
            left: 20%;
            top: 10rem;

            // @media only screen and (max-width:$bp-smaller) {
            //     left: 20%;
            //     top: 7rem;
    
            // }

            @media only screen and (max-width:$bp-smallest) {
                left: 20%;
                top: 7rem;
    
            }
        }

        &:hover {
            outline: 1.5rem solid $color-primary-blue;
            transform: scale(1.05) translateY(-.5rem);
            box-shadow: 0 2.5rem 4rem rgba($color-primary-black, .5);
            z-index: 20;
        }

    }

    &:hover &__photo:not(:hover) {
        transform: scale(.95);
    }
    //composition:hover composition__photo:not(:hover) {
}