.section-about {
    grid-column: full-start / full-end;
    background-color: $color-secondary-grey;
    padding: 25rem 0 ;
    margin-top: -35vh;


    @media only screen and (max-width:$bp-medium) {
        padding: 10rem 0 ;
        margin-top: -15vh; 
       
        
    }

    @media only screen and (max-width:$bp-small) {
        padding: 10rem 0 ;
        margin-top: -15vh; 
       
        
    }


    @media only screen and (max-width:$bp-smaller) {
        padding: 10rem 0 ;
        margin-top: -10vh; 
       
        
    }
  

    @media only screen and (max-width:$bp-smallest) {
        padding: 10rem 0 ;
        margin-top: -10vh; 
       
        
    }
  
   
}



.home-about {
    display: grid;
    // grid-template-columns: repeat(2, 1fr);
    grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
    gap: 3rem;
    justify-content: center;
    padding: 0 3rem;
    margin-top: 10rem;
    animation: fadeIn 2s;


    @media only screen and (max-width:$bp-medium) {
        height: 220vh;
     

  }


    @media only screen and (max-width:$bp-small) {
        height: 180vh;
     

  }


    @media only screen and (max-width:$bp-smaller) {
          height: 180vh;
       

    }


    


    
}



.section-home-services {
    grid-column: full-start  / full-end;

    display: grid;



    background-image: linear-gradient(
        rgba($color-primary-blue, 4), 
        rgba($color-primary-blue-light, -1)), 
        url(../img/designer2-x.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 100%;
        background-attachment: fixed;
        

        transform: skewY(-10deg);

        padding: 1rem 20rem;
        margin-top: -10rem;

        


   
   
  

    @media only screen and (max-width:$bp-medium) {
        grid-column: full-start / full-end;
       

    }

    @media only screen and (max-width:$bp-small) {
        grid-column: full-start / full-end;
       

    }

    @media only screen and (max-width:$bp-smaller) {
        padding: 1rem 0rem;
        margin-top: -5rem;
        grid-column: full-start / full-end;
       

    }

    @media only screen and (max-width:$bp-smallest) {
        padding: 1rem 0rem;
        margin-top: -5rem;
        grid-column: full-start / full-end;
       

    }
}

.home-services-heading {
    justify-content: center;
    align-content: center;
    text-align: center;
    text-decoration: line-through;
    margin-top: -10rem;

    transform: skewY(10deg);

}


.home-services {
    display: grid;
    margin-top: -40rem;
 

    // grid-emplate-columns: repeat(auto-fit, minmax(40rem, 1fr));
    grid-template-columns: repeat(2, 1fr);
    gap: 5rem;
    align-content: center;

    transform: skewY(10deg);

    @media only screen and (max-width:$bp-large) {
        grid-template-columns: repeat(1, 1fr);
        padding: 3rem 3rem;

    }

    @media only screen and (max-width:$bp-medium) {
        grid-template-columns: repeat(1, 1fr);
        padding: 3rem 3rem;

    }

    @media only screen and (max-width:$bp-small) {
        grid-template-columns: repeat(1, 1fr);
        // padding: 3rem 3rem;

    }

    @media only screen and (max-width:$bp-smaller) {
        grid-template-columns: repeat(1, 1fr);
        padding: 3rem 0;

    }


    @media only screen and (max-width:$bp-smallest) {
        grid-template-columns: repeat(1, 1fr);
     

    }
    


    
}


.home-service {
    background-color: $color-primary-yellowgreen-light;
    display: grid;
    grid-template-columns: min-content 1fr;
    column-gap: 2rem;
    row-gap: 2rem;
    border-radius: 2rem;
    padding: 3rem;

    @media only screen and (max-width:$bp-smallest) {
      
        padding: 2rem .8rem;

    }
    
   
   
   
    &__icon {
        width: 7rem;
        height: 7rem;
        fill: $color-primary-blue;
        grid-row: 1 / span 2 ; // make the icon span down it row
        transform: translateY(-1rem);
        border: .2rem solid $color-primary-blue;
        border-radius: 50%;
        padding: .8rem;
    }

    &__btn {
       grid-column: 1 / span 2;
       width: 30rem;
       text-align: center;

       @media only screen and (max-width:$bp-smallest) {
           width:  20rem;
       }


    }
}


.marquee-container {
    grid-column: full-start / full-end;
    background-color: $color-primary-blue;
    position: relative;
    // width: 100%;
    overflow: hidden;
  }

  .marquee {
    display: inline-block;
    white-space: nowrap;
    position: relative;
    animation: scroll-left 60s linear infinite ; /* Adjusted for smooth, continuous scrolling */
  }

  @keyframes scroll-left {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(-100%);
    }
  }



  /* Duplicate text to create a continuous scroll effect */
  .marquee::after {
    content: attr(data-text);
    font-size: 15rem;
    color: $color-primary-yellowgreen;
    font-weight: 600;
    font-family: $font-display;
    padding-left: 2rem;

    @media only screen and (max-width:$bp-medium) {
        font-size: 9rem;
        font-weight: 600;
        font-family: $font-display;
        padding-left: 2rem;
       }

    @media only screen and (max-width:$bp-small) {
        font-size: 8rem;
        font-weight: 600;
        font-family: $font-display;
        padding-left: 2rem;
       }

    @media only screen and (max-width:$bp-smaller) {
        font-size: 8rem;
        font-weight: 600;
        font-family: $font-display;
        padding-left: 2rem;
       }

    @media only screen and (max-width:$bp-smallest) {
        font-size: 7rem;
        font-weight: 600;
        font-family: $font-display;
        padding-left: 2rem;
       }
  }

  .marquee span {
    font-size: 15rem;
    font-weight: 600;
    font-family: $font-display;
    padding-right: 2rem;

    @media only screen and (max-width:$bp-medium) {
        font-size: 9rem;
        font-weight: 600;
        font-family: $font-display;
        padding-right: 2rem;
       }

    @media only screen and (max-width:$bp-small) {
        font-size: 8rem;
        font-weight: 600;
        font-family: $font-display;
        padding-right: 2rem;
       }

    @media only screen and (max-width:$bp-smaller) {
        font-size: 8rem;
        font-weight: 600;
        font-family: $font-display;
        padding-right: 2rem;
       }

    @media only screen and (max-width:$bp-smallest) {
        font-size: 7rem;
        font-weight: 600;
        font-family: $font-display;
        padding-right: 2rem;
       }
  }







