.section-about {
    grid-column: full-start / full-end;
    background-color: $color-secondary-grey;
    padding: 25rem 0 ;
    margin-top: -35vh;

    @media only screen and (max-width:$bp-smallest) {
        padding: 10rem 0 ;
        margin-top: -10vh; 
        // height: 200vh;
        
    }
  
   
}



.home-about {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5rem;
    justify-content: center;
    padding: 0 3rem;
    margin-top: 10rem;
    margin-bottom: 10rem;
    animation: fadeIn 2s;

    @media only screen and (max-width:$bp-smallest) {
        grid-template-columns: repeat(1, 1fr);

        margin-top: 10rem;
        margin-bottom: 0rem;
    }
}



.section-services {
    grid-column: col-start 2 / col-start 10;

    display: grid;
}


.services {
    display: grid;
 

    grid-template-columns: repeat(2, 1fr);
    gap: 5rem;
    align-content: center;
    


    
}


.service {
    display: grid;
    grid-template-columns: min-content 1fr;
    column-gap: 2rem;
    row-gap: 2rem;
    
   
   
   
    &__icon {
        width: 5rem;
        height: 5rem;
        grid-row: 1 / span 2 ; // make the icon span down it row
        transform: translateY(-1rem);
    }
}

