.section-about {
    grid-column: full-start / full-end;
    background-color: $color-secondary-grey;
    padding: 25rem 0 ;
    margin-top: -35vh;


    @media only screen and (max-width:$bp-medium) {
        padding: 10rem 0 ;
        margin-top: -15vh; 
       
        
    }

    @media only screen and (max-width:$bp-small) {
        padding: 10rem 0 ;
        margin-top: -15vh; 
       
        
    }


    @media only screen and (max-width:$bp-smaller) {
        padding: 10rem 0 ;
        margin-top: -15vh; 
       
        
    }
  

    @media only screen and (max-width:$bp-smallest) {
        padding: 10rem 0 ;
        margin-top: -10vh; 
       
        
    }
  
   
}



.home-about {
    display: grid;
    // grid-template-columns: repeat(2, 1fr);
    grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
    gap: 5rem;
    justify-content: center;
    padding: 0 3rem;
    margin-top: 10rem;
    margin-bottom: 10rem;
    animation: fadeIn 2s;


    // @media only screen and (max-width:$bp-medium) {
    //     grid-template-columns: repeat(1, 1fr);

    //     margin-top: 10rem;
      
    // }


    // @media only screen and (max-width:$bp-small) {
    //     grid-template-columns: repeat(1, 1fr);

    //     margin-top: 10rem;
      
    // }


    // @media only screen and (max-width:$bp-smaller) {
    //     grid-template-columns: repeat(1, 1fr);

    //     margin-top: 10rem;
      
    // }

    // @media only screen and (max-width:$bp-smallest) {
    //     grid-template-columns: repeat(1, 1fr);

    //     // margin-top: 10rem;
      
    // }
}



.section-home-services {
    grid-column: col-start 2 / col-start 10;

    display: grid;


    @media only screen and (max-width:$bp-medium) {
        grid-column: full-start / full-end;
       

    }

    @media only screen and (max-width:$bp-small) {
        grid-column: full-start / full-end;
       

    }

    @media only screen and (max-width:$bp-smaller) {
        grid-column: full-start / full-end;
       

    }

    @media only screen and (max-width:$bp-smallest) {
        grid-column: full-start / full-end;
       

    }
}

.home-services-heading {
    justify-content: center;
    align-content: center;
    text-align: center;
    text-decoration: line-through;

}


.home-services {
    display: grid;
 

    // grid-template-columns: repeat(2, 1fr);
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 5rem;
    align-content: center;

    @media only screen and (max-width:$bp-medium) {
        // grid-template-columns: repeat(1, 1fr);
        padding: 3rem 3rem;

    }

    @media only screen and (max-width:$bp-small) {
        // grid-template-columns: repeat(1, 1fr);
        padding: 3rem 3rem;

    }

    @media only screen and (max-width:$bp-smaller) {
        // grid-template-columns: repeat(1, 1fr);
        padding: 3rem 3rem;

    }


    @media only screen and (max-width:$bp-smallest) {
        // grid-template-columns: repeat(1, 1fr);
        padding: 3rem 0;

    }
    


    
}


.home-service {
    background-color: $color-primary-yellowgreen-light;
    display: grid;
    grid-template-columns: min-content 1fr;
    column-gap: 2rem;
    row-gap: 2rem;
    border-radius: 2rem;
    padding: 3rem;

    @media only screen and (max-width:$bp-smallest) {
        padding: 2rem .8rem;

    }
    
   
   
   
    &__icon {
        width: 5rem;
        height: 5rem;
        fill: $color-primary-blue;
        grid-row: 1 / span 2 ; // make the icon span down it row
        transform: translateY(-1rem);
    }

    &__btn {
       grid-column: 1 / span 2;
       width: 30rem;
       text-align: center;

       @media only screen and (max-width:$bp-smallest) {
           width:  20rem;
       }


    }
}

